<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict/>
	<key>gameCenterEnabled</key>
	<false/>
	<key>bundleDisplayName</key>
	<string>微信</string>
	<key>genre</key>
	<string>社交</string>
	<key>itemId</key>
	<integer>414478124</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>copyright</key>
	<string>© Tencent Inc.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>playlistName</key>
	<string>WeChat</string>
	<key>releaseDate</key>
	<string>2011-01-21T01:32:15Z</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>814015573</integer>
	<key>MetadataEmail</key>
	<string>teiron@25pp.com</string>
	<key>appleId</key>
	<string>teiron@25pp.com</string>
	<key>appleWatchEnabled</key>
	<true/>
	<key>artistId</key>
	<integer>614694882</integer>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>artistName</key>
	<string>WeChat</string>
	<key>vendorId</key>
	<integer>69276</integer>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>kind</key>
	<string>software</string>
	<key>s</key>
	<integer>143465</integer>
	<key>genreId</key>
	<integer>6005</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1618.phobos.apple.com/us/r30/Purple6/v4/41/34/16/41341632-9680-b6bc-c9b9-29f209660ec7/icon114x114.jpeg</string>
	<key>bundleShortVersionString</key>
	<string>6.3.6</string>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
	<key>srcipaHash</key>
	<string>5c68ed6afd0fccc0bb95b10289a82283</string>
	<key>softwareVersionBundleId</key>
	<string>com.tencent.xin0</string>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>3328911</integer>
		<integer>3373135</integer>
		<integer>3473242</integer>
		<integer>3529624</integer>
		<integer>3585847</integer>
		<integer>3701457</integer>
		<integer>3775683</integer>
		<integer>3869643</integer>
		<integer>3971276</integer>
		<integer>4014363</integer>
		<integer>4072493</integer>
		<integer>4121590</integer>
		<integer>4175014</integer>
		<integer>4415405</integer>
		<integer>4582396</integer>
		<integer>4946986</integer>
		<integer>5654567</integer>
		<integer>7640687</integer>
		<integer>8829311</integer>
		<integer>9734445</integer>
		<integer>10670634</integer>
		<integer>11523343</integer>
		<integer>12833517</integer>
		<integer>13256645</integer>
		<integer>13641641</integer>
		<integer>14898676</integer>
		<integer>14984931</integer>
		<integer>15243270</integer>
		<integer>16103442</integer>
		<integer>84293994</integer>
		<integer>103942635</integer>
		<integer>310882633</integer>
		<integer>388062640</integer>
		<integer>448832641</integer>
		<integer>565103180</integer>
		<integer>584553398</integer>
		<integer>590052756</integer>
		<integer>599502645</integer>
		<integer>612442666</integer>
		<integer>661962748</integer>
		<integer>622683606</integer>
		<integer>688052647</integer>
		<integer>717062721</integer>
		<integer>726302660</integer>
		<integer>719842773</integer>
		<integer>746082682</integer>
		<integer>811222902</integer>
		<integer>811530944</integer>
		<integer>811669817</integer>
		<integer>811953630</integer>
		<integer>812070527</integer>
		<integer>812095289</integer>
		<integer>812159996</integer>
		<integer>812439126</integer>
		<integer>812398752</integer>
		<integer>812526459</integer>
		<integer>812733117</integer>
		<integer>812935475</integer>
		<integer>813182477</integer>
		<integer>813322499</integer>
		<integer>813384205</integer>
		<integer>813566842</integer>
		<integer>813491705</integer>
		<integer>813715999</integer>
		<integer>814015573</integer>
	</array>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>itemName</key>
	<string>微信</string>
	<key>purchaseDate</key>
	<string>2015-10-29T07:23:39Z</string>
	<key>rating</key>
	<dict>
		<key>system</key>
		<string>itunes-games</string>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , 偶尔/轻微的色情内容或裸露 and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>rank</key>
		<integer>300</integer>
		<key>label</key>
		<string>12+</string>
	</dict>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>bundleVersion</key>
	<string>6.3.6.16</string>
</dict>
</plist>
